openapi: 3.0.0
info:
  license:
    name: GPL 2.0
  title: Home Unite Us
  version: 1.0.0
servers:
  - url: http://homeunite.us/api
paths:
  /users/{userId}:
    $ref: "./paths/users.yaml"
  /serviceProviders:
    $ref: "./paths/serviceProviders.yaml"
  /serviceProviders/{providerId}:
    $ref: "./paths/serviceProvider.yaml"
  /host:
    $ref: "./paths/host.yaml"
  /auth/signup/host:
    $ref: "./paths/auth/authSignUpHost.yaml"
  /auth/signup/coordinator:
    $ref: "./paths/auth/authSignUpCoordinator.yaml"
  /auth/signin:
    $ref: "./paths/auth/authSignin.yaml"
  /auth/resend_confirmation_code:
    $ref: "./paths/auth/authResendConfirmationCode.yaml"
  /auth/confirm:
    $ref: "./paths/auth/authConfirm.yaml"
  /auth/signout:
    $ref: "./paths/auth/authSignout.yaml"
  /auth/session:
    $ref: "./paths/auth/authSession.yaml"
  /auth/refresh:
    $ref: "./paths/auth/authRefresh.yaml"
  /auth/forgot_password:
    $ref: "./paths/auth/authForgotPassword.yaml"
  /auth/forgot_password/confirm:
    $ref: "./paths/auth/authConfirmForgotPassword.yaml"
  /auth/user:
    $ref: "./paths/auth/authUser.yaml"
  /auth/private:
    $ref: "./paths/auth/authPrivate.yaml"
  /auth/google:
    $ref: "./paths/auth/authGoogle.yaml"
  /auth/google/sign_up:
    $ref: "./paths/auth/authGoogleSignUp.yaml"
  /auth/google/sign_in:
    $ref: "./paths/auth/authGoogleSignIn.yaml"
  /auth/new_password:
    $ref: "./paths/auth/authNewPassword.yaml"
  /auth/invite:
    $ref: "./paths/auth/authInvite.yaml"
  /auth/confirmInvite:
    $ref: "./paths/auth/authConfirmInvite.yaml"
  /forms: 
    $ref: "./paths/post-form.yaml"
  /forms/{form_id}:
    $ref: "./paths/forms.yaml"
  /responses/{form_id}:
    $ref: "./paths/responses.yaml"
  /coordinator/dashboard/all:
      get:
        summary: Get dashboard data
        operationId: get_dashboard_data
        responses:
          '200':
            description: Successfully retrieved responses
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/DashboardData'
          '401':
            description: Authentication error
          '404':
            description: Responses not found
        x-openapi-router-controller: openapi_server.controllers.coordinator_controller
        security:
          - jwt: ["secret"]
  /health:
      get:
        operationId: openapi_server.controllers.admin_controller.health
        summary: Health Check
        description: Returns the health status of the API.
        responses:
          '200':
            description: API is healthy.
components:
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      x-bearerInfoFunc: openapi_server.controllers.security_controller.requires_auth
  responses:
    $ref: "./responses/_index.yaml"
  parameters:
    $ref: "./parameters/_index.yaml"
  schemas:
    $ref: "./schemas/_index.yaml"
    DashboardDataItem:
      properties:
        id:
          format: int64
          type: integer
        userName:
          type: string
        caseStatus:
          type: string
        coordinatorName:
          type: string
        userType:
          type: string
        lastUpdated:
          type: string
        notes:
          type: string
      title: DashboardDataItem
      type: object
    DashboardData:
      properties:
        dashboardItems:
          type: array
          items:
            $ref: '#/components/schemas/DashboardDataItem'
      title: DashboardData
      type: object
    ApiResponse:
      example:
        code: 0
        type: type
        message: message
      properties:
        code:
          format: int32
          title: code
          type: integer
        type:
          title: type
          type: string
        message:
          title: message
          type: string
      title: ApiResponse
      type: object
