openapi: 3.0.0
info:
  license:
    name: GPL 2.0
  title: Home Unite Us
  version: 1.0.0
servers:
  - url: http://homeunite.us/api
paths:
  /users/{userId}:
    $ref: "./paths/users.yaml"
  /serviceProviders:
    $ref: "./paths/serviceProviders.yaml"
  /serviceProviders/{providerId}:
    $ref: './paths/serviceProvider.yaml'
  /host:
    $ref: './paths/host.yaml'
  /auth/signup:
    $ref: "./paths/auth/authSignup.yaml"
  /auth/signin:
    $ref: "./paths/auth/authSignin.yaml"
  /auth/confirm:
    $ref: "./paths/auth/authConfirm.yaml"
  /auth/signout:
    $ref: "./paths/auth/authSignout.yaml"
  /auth/delete:
    $ref: "./paths/auth/authDelete.yaml"
  /auth/token:
    $ref: "./paths/auth/authToken.yaml"
  /auth/session:
    $ref: "./paths/auth/authSession.yaml"
  /auth/refresh:
    $ref: "./paths/auth/authRefresh.yaml"
  /auth/forgot_password:
    $ref: "./paths/auth/authForgotPassword.yaml"
  /auth/reset_password:
    $ref: "./paths/auth/authConfirmForgotPassword.yaml"
  /auth/user:
    $ref: "./paths/auth/authUser.yaml"
  /auth/private:
    $ref: './paths/auth/authPrivate.yaml'
  /auth/google:
    $ref: './paths/auth/authGoogle.yaml'
components:
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      x-bearerInfoFunc: openapi_server.controllers.security_controller.requires_auth
  responses:
    $ref: "./responses/_index.yaml"
  parameters:
    $ref: "./parameters/_index.yaml"
  schemas:
    $ref: "./schemas/_index.yaml"
    ApiResponse:
      example:
        code: 0
        type: type
        message: message
      properties:
        code:
          format: int32
          title: code
          type: integer
        type:
          title: type
          type: string
        message:
          title: message
          type: string
      title: ApiResponse
      type: object
