openapi: 3.0.0
info:
  license:
    name: MIT
  title: Home Unite Us
  version: 1.0.0
servers:
  - url: http://homeunite.us/api
paths:
  /guests:
    delete:
      description: Delete a guest
      operationId: delete_guest
      parameters:
        - description: guest id to delete
          explode: false
          in: path
          name: guestId
          required: true
          schema:
            format: int64
            type: integer
          style: simple
      responses:
        "400":
          description: Invalid guest valu
      summary: Deletes a guest
      tags:
        - guest
      x-openapi-router-controller: openapi_server.controllers.guest_controller
    get:
      description: See the full list of guests
      operationId: list_guests
      parameters:
        - description: How many items to return at one time (max 100)
          explode: true
          in: query
          name: limit
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Guests"
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
          description: unexpected error
      summary: List all guests
      tags:
        - guest
      x-openapi-router-controller: openapi_server.controllers.guest_controller
    post:
      operationId: create_guest
      responses:
        "201":
          description: Null response
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
          description: unexpected error
      summary: Create a guest
      tags:
        - guest
      x-openapi-router-controller: openapi_server.controllers.guest_controller
    put:
      description: Update a guest
      operationId: update_guest
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Guest"
        description: Update guest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Guest"
          description: Successful operation
        "400":
          description: Invalid ID supplied
        "404":
          description: Guest not found
        "405":
          description: Validation exception
      summary: Update a guest
      tags:
        - guest
      x-openapi-router-controller: openapi_server.controllers.guest_controller
  /guests/{guestId}:
    get:
      operationId: show_guest_by_id
      parameters:
        - description: The id of the guest to retrieve
          explode: false
          in: path
          name: guestId
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Guest"
          description: Expected response to a valid request
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
          description: unexpected error
      summary: Info for a specific guest
      tags:
        - guests
      x-openapi-router-controller: openapi_server.controllers.guests_controller
  /guests/{guestId}/uploadImage:
    post:
      operationId: upload_guest_image
      parameters:
        - description: ID of guest to update
          explode: false
          in: path
          name: guestId
          required: true
          schema:
            type: string
          style: simple
        - description: Additional Metadata
          explode: true
          in: query
          name: additionalMetadata
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
          description: successful operation
      summary: uploads an image
      tags:
        - guest
      x-openapi-router-controller: openapi_server.controllers.guest_controller
  /hosts:
    delete:
      description: Delete a host
      operationId: delete_host
      parameters:
        - description: host id to delete
          explode: false
          in: path
          name: hostId
          required: true
          schema:
            format: int64
            type: integer
          style: simple
      responses:
        "400":
          description: Invalid host valu
      summary: Deletes a host
      tags:
        - host
      x-openapi-router-controller: openapi_server.controllers.host_controller
    get:
      description: See the full list of hosts
      operationId: list_hosts
      parameters:
        - description: How many items to return at one time (max 100)
          explode: true
          in: query
          name: limit
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Hosts"
          description: successful operation
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
          description: unexpected error
      summary: List all hosts
      tags:
        - host
      x-openapi-router-controller: openapi_server.controllers.host_controller
    post:
      operationId: create_host
      responses:
        "201":
          description: Null response
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
          description: unexpected error
      summary: Create a host
      tags:
        - host
      x-openapi-router-controller: openapi_server.controllers.host_controller
    put:
      description: Update a host
      operationId: update_host
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Host"
        description: Update host
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Host"
          description: Successful operation
        "400":
          description: Invalid ID supplied
        "404":
          description: Host not found
        "405":
          description: Validation exception
      summary: Update a host
      tags:
        - host
      x-openapi-router-controller: openapi_server.controllers.host_controller
  /hosts/{hostId}:
    get:
      operationId: show_host_by_id
      parameters:
        - description: The id of the host to retrieve
          explode: false
          in: path
          name: hostId
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Host"
          description: Expected response to a valid request
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
          description: unexpected error
      summary: Info for a specific host
      tags:
        - hosts
      x-openapi-router-controller: openapi_server.controllers.hosts_controller
  /hosts/{hostId}/uploadImage:
    post:
      operationId: upload_host_image
      parameters:
        - description: ID of host to update
          explode: false
          in: path
          name: hostId
          required: true
          schema:
            type: string
          style: simple
        - description: Additional Metadata
          explode: true
          in: query
          name: additionalMetadata
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
          description: successful operation
      summary: uploads an image
      tags:
        - host
      x-openapi-router-controller: openapi_server.controllers.host_controller
  /auth/signup:
    post:
      description: Signup a user
      operationId: signup
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"
          description: successful operation
      x-openapi-router-controller: openapi_server.controllers.auth_controller
components:
  schemas:
    Host:
      example:
        photoUrls:
          - photoUrls
          - photoUrls
        name: name
        id: 0
        tag: tag
      properties:
        id:
          format: int64
          title: id
          type: integer
        name:
          title: name
          type: string
        tag:
          title: tag
          type: string
        photoUrls:
          items:
            type: string
          title: photoUrls
          type: array
      required:
        - id
        - name
      title: Host
      type: object
    Guest:
      example:
        photoUrls:
          - photoUrls
          - photoUrls
        name: name
        id: 0
        tag: tag
      properties:
        id:
          format: int64
          title: id
          type: integer
        name:
          title: name
          type: string
        tag:
          title: tag
          type: string
        photoUrls:
          items:
            type: string
          title: photoUrls
          type: array
      required:
        - id
        - name
      title: Guest
      type: object
    Hosts:
      items:
        $ref: "#/components/schemas/Host"
      type: array
    Guests:
      items:
        $ref: "#/components/schemas/Guest"
      type: array
    ApiResponse:
      example:
        code: 0
        type: type
        message: message
      properties:
        code:
          format: int32
          title: code
          type: integer
        type:
          title: type
          type: string
        message:
          title: message
          type: string
      title: ApiResponse
      type: object
