input[type='text'],
input[type='email'] {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 20px;
  width: 400px;
  padding: 6px 12px;
  line-height: 25px;
  padding: .6em .7em;
  box-shadow: none;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  margin-bottom: 8px;
}

/* adding */
/* font-family: "brandon-grotesque",sans serif; */


/*take out*/
/* display: block; */
/* font-size: 14px; */
/* line-height: 1.42857143; */