exclude .dockerignore
exclude .env.example
exclude .gitignore
prune .openapi-generator
exclude .openapi-generator-ignore
exclude .travis.yml
exclude Dockerfile
exclude git_push.sh
exclude requirements-dev.txt
exclude tox.ini